<div class="slider-frame">
  <div class="sliders">
    <div class="slider-container" id="slider1">
      <div class="slider-track">
        <div class="slide"><%= image_tag 'trainer1.png' %></div>
        <div class="slide"><%= image_tag 'trainer2.png' %></div>
        <div class="slide"><%= image_tag 'trainer3.png' %></div>
        <div class="slide"><%= image_tag 'trainer4.png' %></div>
      </div>
    </div>
    <div class="slider-container" id="slider2">
      <div class="slider-track">
        <div class="slide"><%= image_tag 'trainer55' %></div>
        <div class="slide"><%= image_tag 'trainer6' %></div>
        <div class="slide"><%= image_tag 'trainer7' %></div>
        <div class="slide"><%= image_tag 'trainer8' %></div>
      </div>
    </div>
    <div class="slider-container" id="slider3">
      <div class="slider-track">
        <div class="slide"><%= image_tag 'trainer9' %></div>
        <div class="slide"><%= image_tag 'trainer10' %></div>
        <div class="slide"><%= image_tag 'trainer11' %></div>
        <div class="slide"><%= image_tag 'trainer12' %></div>
      </div>
    </div>
  </div>
</div>
