<div class="slider-frame">
  <div class="sliders">
    <div class="slider-container" id="slider1">
      <div class="slider-track">
        <div class="slide"><%= image_tag 'trainer1.png' %></div>
        <div class="slide"><%= image_tag 'trainer2.png' %></div>
        <div class="slide"><%= image_tag 'ibruce.png' %></div>
        <div class="slide"><%= image_tag 'trainer3.png' %></div>
      </div>
    </div>
    <div class="slider-container" id="slider2">
      <div class="slider-track">
        <div class="slide"><%= image_tag 'trainer5.png' %></div>
        <div class="slide"><%= image_tag 'imuhammad.png' %></div>
        <div class="slide"><%= image_tag 'trainer4.png' %></div>
        <div class="slide"><%= image_tag 'iarnold.png' %></div>
      </div>
    </div>
    <div class="slider-container" id="slider3">
      <div class="slider-track">
        <div class="slide"><%= image_tag 'imike.png' %></div>
        <div class="slide"><%= image_tag 'trainer6.png' %></div>
        <div class="slide"><%= image_tag 'ironnie.png' %></div>
        <div class="slide"><%= image_tag 'trainer7.png' %></div>
      </div>
    </div>
  </div>
</div>
