<div class="home-page-initial-container">
  <div class="d-flex justify-content-between">
    <div class="content">
      <h1>Hero Trainer</h1>
      <p>Connecting users with elite training partners
        for personalized workouts and skill development</p>
      <% if user_signed_in? %>
        <p><button><%= link_to "Browse Trainers", users_path %></button></p>
      <% else %>
        <button><%= link_to "Browser Trainer", users_path %> </button>
        <button><%= link_to "Get Started", new_user_session_path %></button>
      <% end %>
    </div>
    <%= render "sliders" %>
  </div>
</div>
<div class="home-body-container d-flex justify-content-center" style="background-image: url('<%= image_path 'wallpaper.png', crop: :fill%> ');">
  <div class="d-flex flex-column" style="width: 1150px;">
    <div class="d-flex gap-5">
      <div class="home-card">
        <p><i class="fa-regular fa-clock fa-2xl" style="color: #ff0000;"></i></p>
        <h2>PROGRESSION</h2>
        <p>Out team of experts will train with you to create a customized plan that helps you achieve success one step at a time.</p>
      </div>
      <div class="home-card">
        <p><i class="fa-solid fa-dumbbell fa-2xl" style="color: #ff0000;"></i></p>
        <h2>WORKOUT</h2>
        <p>With a variety of trainers to choose from, you'll have everything uou need to get into the best shape of your life.</p>
      </div>
      <div class="home-card">
        <p><i class="fa-brands fa-nutritionix fa-2xl" style="color: #ff0000;"></i></p>
        <h2>NUTRITION</h2>
        <p>Our team will work with you to create a personalized meal plan that helps you reach your specific health goals.</p>
      </div>
    </div>
    <div class="home-after-body-container py-5 d-flex">
      <div class="" style="width: 575px">
        <div>
          <h1>Who are we</h1>
        </div>
        <div>
          <p class="fs-2 fw-bold">Take Your Health and Body to the Next Level</p>
        </div>
        <div>
          <p>Take your health and body to the next level with our comprehensive program designed to help you reach your fitness goals.</p>
        </div>
        <div class="d-flex">
          <div class="home-mini-card">
            <p><i class="fa-solid fa-medal fa-2xl" style="color: #ff0000;"></i></p>
            <p>PROFESSIONAL TRAINERS</p>
          </div>
          <div class="home-mini-card">
            <p><i class="fa-solid fa-hand-back-fist fa-2xl" style="color: #ff0000;"></i></p>
            <p>MODERN TECHNIQUES</p>
          </div>
          <div class="home-mini-card">
            <p><i class="fa-solid fa-heart-pulse fa-2xl" style="color: #ff0000;"></i></p>
            <p>POWER UP SESSIONS</p>
          </div>
        </div>
        <div>
          <span><%= link_to "TAKE A TOUR →", lessons_path, class: "text-white" %></span>
        </div>
      </div>
      <div class="col-6">
        <%= image_tag 'training1.png', class: "" %>
      </div>
    </div>
  </div>
</div>
